::ng-deep .custom-style {
  background-color: brown;
  color: white;
}

.title-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.12);
  height: 50px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
